.main {
    background-color: #F6F2E7;
}

.cards{
    padding: 150px 0 50px;
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 630px){
    .cards{
        width: 100%;
        gap: 5px;
        padding: 75px 0 0 0;
    }
}