.container {
    margin: 30px;
    width: 230px;
    max-width: 230px;
    max-height: 320px;
    height: 320px;
    background-color: #DFD9B0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container img {
    max-width: 100%;
    max-height: 225px;
    object-fit: cover;
    cursor: pointer;
}

.container .description {
    width: 100%;
    max-height: calc(320px - 225px);
    height: calc(320px - 225px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.container .description p {
    width: 100%;
    height: 100%;
}

.container .description p:first-of-type {
    padding-top: 10px;
}

.container .description a {
    min-width: 100%;
    min-height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6cc8d;
    color: black;
    text-decoration: none;
}

.container .description a:hover {
    color: white;
}

.indisponivel {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 30px;
    transform: translateX(-50%);
    width: 120px;
    height: 30px;
    background-color: red;
    border-radius: 25px;
    z-index: 1;
}

.avaliable {
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 30px;
    transform: translateX(-50%);
    width: 120px;
    height: 30px;
    background-color: rgb(0, 151, 0);
    border-radius: 25px;
    z-index: 1;
}

.circle {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    left: 3px;
}

.click {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
}

@media screen and (max-width: 630px) {
    .container {
        margin: 15px;
    }
}


@media screen and (max-width: 570px) {
    .container {
        width: 180px;
        max-width: 180px;
        max-height: 270px;
        height: 270px;
    }

    .container img {
        min-height: 180px;
        height: 180px;
    }

    .container .description{
        font-size: 12px;
    }
}