.popUp {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 55vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d6cc8d;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50px;
    border: 5px solid black;
}

.heart {
    background-image: url("../../../assets/img/heart-hearts.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 57%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}

.popUp img {
    padding-top: 20px;
    height: auto;
    width: 25%;
    z-index: 4;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.buttons button {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    max-width: 200px;
    width: 70%;
    height: 45px;
    border-radius: 30px;
    border: 1px solid;
    font-weight: bold;
    background-color: #fff5b4;
    z-index: 4;
}

.buttons button:hover {
    background-color: #ceb61a;
}

@media screen and (max-width:975px) {
    .heart {
        background-size: 90%;
    }

    .popUp img {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .heart {
        background-position: center 55%;
    }
}