.container {
    margin-top: 70px;
}

.title {
    margin: auto;
    width: 80%;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600;
    color: #9F5B4C;
    line-height: 95px;
    margin-bottom: 50px;
}

.colors {
    margin: auto;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circles.black {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #000;
}

.circles.dark_gray {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #737373;
}

.circles.light_gray {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #A6A6A6;
}